/* ==========================================================================
   About Us modul
   ========================================================================== */

.aboutus {
	background: lime;
	@include clearfix;

	&-img {
		width: 100%;
	  	height: auto;
	  	  @include bp(phone) { 
	  		padding: 0.5em;
	  		width: 33.3%; 
	  		float: left;
	  	  }
	}

	&-title {
		@include bp(phone) { 
	  	 }
	}

	&-content {
		@include bp(phone) { 
	  	 }
	}
}