/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
	background: $c-red-dark;
	margin-bottom: 0.7rem;
}

.site-branding {
	float:left;
}

.site-description {
}

.site-title {
	color:$c-blue-dark;
}


/* ==========================================================================
   Navigation
   ========================================================================== */

%main-navigation-hover {
	color: $white;
	background: $c-red;
	border-radius: 4px;
}


.main-navigation {
	float: right;
	margin-right: 0.8rem;
	margin-top: 1.7rem;
	li {
		float: left;
		list-style-type: none;
		margin: 0 0 0 30px;
	}
	a {
	padding: 10px 15px;
	color: $white_80;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 1px $black_30;
	transition: all 0.30s ease-in-out;
		&:hover {
			@extend %main-navigation-hover;
		}
		&:focus {
			@extend %main-navigation-hover;
		}
	}
}
