/* ==========================================================================
   Variables
   ========================================================================== */

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Roboto+Condensed:400,700);

// Font Variables
$oswald: 'Oswald', sans-serif;   
$roboto: 'Roboto', sans-serif;

// Structure
$pageWidth: 1500px;

// Text Selection
$selectionColor: orange;

// Colors
$white_80: rgba(255,255,255, 0.7);
$red: red;
$blue: blue;

//website colors
$c-general-background: #F5F5F5;

$c-red: #c3170b;
$c-red-dark: #a50a05;

$c-blue: #073e41;
$c-blue-dark: #031f20;

$c-grey:rgba(197, 193, 184, 0.7);
$c-grey-dark: rgba(68, 68, 68, 0.7);

$c-black: #312620;
$c-black-dark: #181310;

$c-orange: #ffd6ac;
$c-orange-dark: #fec182;

$c-green: #5f886a;
$c-green-dark: #2f4b34;
$c-grey-text:#382D2D;

$color_mine_shaft_approx: #333;
$black_30: rgba(0,0,0, 0.3);
$white: $c-orange;
$white_20: $c-orange;